/*--------------------------------------------------------------
# header
--------------------------------------------------------------*/
.top {
  -webkit-transform: scaleX(-1);
  transform: rotate(270deg);
}
.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
  height: 61px;
  background: black !important;
  border-bottom: 7px solid #a06ab9 !important;
}
@media (max-width: 992px) {
  .heading {
      padding-right: 4.5rem !important;
      padding-top: 1rem !important;
  }
}

.heading {
  padding-right: 4.5rem !important;
}

a {
  text-decoration: none !important;
}
.bg {
  background: linear-gradient(to right, #5668d5 0%, #a06ab9 100%);
}
.navbar-nav a {
  font-size: 13px;
}
.icon_size a img {
  height: 20px;
  width: 20px;
  margin-top: 10px;
}
.container_css {
  margin-bottom: -22px;
  margin-top: -20px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: black;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .footer-top {
  background: #151515;
  border-bottom: 1px solid #222222;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 28px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

#footer .footer-top .footer-info h3 span {
  color: #5668d5;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #292929;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #5668d5;
  color: #151515;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #5668d5;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #5668d5;
}

#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
}

#footer .footer-top .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  font-size: 16px;
  padding: 0 20px;
  background: #5668d5;
  color: #151515;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}

#footer .footer-top .footer-newsletter form input[type="submit"]:hover {
  background: #5668d5;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

/*--------------------------------------------------------------
# Modal Profile
--------------------------------------------------------------*/

@media (min-width: 992px) {
  .modal-profile {
      line-height: 2.5 !important;
      top: 25px !important;
      left: 500px !important;
  }

  .modal-profile-content {
      width: 70% !important;
      height: 470px !important;
  }
}

.modal-profile-footer {
  justify-content: flex-start !important;
  border-top: none !important;
}

.modal-profile-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: none !important;
}

.span-border {
  border-bottom: 1px solid #212529 !important;
  width: 100%;
}

/*--------------------------------------------------------------
# modal-cart
--------------------------------------------------------------*/

.modal-cart-footer {
  justify-content: flex-start !important;
  border-top: none !important;
}

.modal-cart-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  /* border-bottom: none !important; */
}

.cart-img {
  height: 60% !important;
}

.carousel-item {
  height: 560px !important;
}

.slider-img {
  width: 1000px !important;
}

@media (min-width: 992px) {
  .modal-cart {
      line-height: 2.5 !important;
      top: 109px !important;
      left: 450px !important;
  }

  .modal-cart-content {
      width: 80% !important;
      height: 570px !important;
  }
  .cart-img {
      height: 50% !important;
  }
  .slider-img {
      width: 1530px !important;
  }
  .slider-title {
      font-size: 4.5rem !important;
  }
  .carousel-caption {
    position: absolute !important;
    text-align: left !important;
    bottom: 5rem !important;
    left: 6% !important;
  }
}

.slider-title {
  font-size: 2rem ;
}

.slider-detail {
  font-weight: 200 !important;
}

.carousel-caption {
  position: absolute !important;
  text-align: left !important;
  bottom: 5rem !important;
  left: 6% !important;
}

.book-button {
  border: none !important;
  border-left: 7px solid #a06ab9 !important;
  padding-right: 50px !important;
  padding-left: 50px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  font-size: 15px !important;
  font-weight: 1000 !important;
  width: 30px;
  height: 0px !important;
  padding: 25px !important;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}

.carousel-indicators .active {
  font-size: 25px !important;
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  /* top: 0; */
  bottom: -405px !important;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95% !important;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

/* bhavin new css */

.common-breadcrumbs{
 
  padding-top: 85px!important;padding-bottom: 50px!important;

}
.common-breadcrumbs a{

  color:white !important;

}
.common-breadcrumbs h1{

  font-size: 3rem !important;

}
.breadcrumb .active{
  color:white !important;
}

.h1-title-head{
  font-size: 60px !important;
  font-weight: 700;
  color: #2a2a2a;
  opacity: 1;
}

.filter-css .div{
  border: 1px solid rgb(8, 7, 7);
  text-align: center;
  height: 74px;
}

.filter-css .div button{
  margin-top: 18px;
  color: #262626;
  border: none;
}

.filter-css .div button{
  margin-top: 18px;
  color: #262626;
}
.filter-css .div button:hover{
 background-color: rgba(255, 0, 0, 0) !important;
}

.filter-css .active button{
  margin-top: 18px;
  color: #ffffff !important;
}

.filter-css  .active{
  border: 1px solid rgb(57, 18, 199)!important    ;
  text-align: center;
  height: 74px;
  background-color: #5668d5;
}


